body {
  background-color: #f9f7fe;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba (0, 0, 0, 0.4);
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
}
h2 {
  margin: 0 0 10px;
}
.date {
  opacity: 0.7;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
